<div class="conatiner">
            <%= form_with url: "/google_signup", class:"google-form" do |f|%>
                <div class="form-group user-select w-25 mx-auto justify-content-center text-center">
                    <%= f.label :type, "Sign in as:"%>
                    <%= select_tag(:user_type, options_for_select([["Please Select...", ""], ['Actor', 'Actor'], ['Director', 'Director'], ['Casting Director', 'Casting']]), class:"form-control", id:"user-type", :required => true) %>
                </div>
    <div class="row">
        <div class="d-flex justify-content-end align-items-center col-5">
                <br>
                <div class="form-group">
                    <%= f.submit "Sign in with Google", class:"form-control btn btn-primary"%>
                </div>
            <% end %>
        </div>

        <div class="d-flex justify-content-center align-items-center col 2"><p>-Or- </p></div>

        <div class="d-flex justify-content-start col-5">
            <%= form_with(url: "/sessions", method: "post") do %>
                
                <%= hidden_field_tag :user_type, "", class: "hidden-user-type" %>
                
                <div class="form-group">
                    <%=label_tag :email, "Email Address:"%>
                    <%=text_field_tag :email, "", class:"form-control" %>
                </div>

                <div class="form-group">
                    <%=label_tag(:password, "Password:")%>
                    <%=password_field_tag :password, "", class:"form-control"%>
                </div>
            <br>
                <div class="form-group">
                    <%=submit_tag "Sign In", class:"form-control btn btn-outline-secondary sign-in" %>
                </div>
                
            <% end %>
        </div>
    </div>
</div>
<%= javascript_pack_tag 'custom/sign_in' %>