<%= form_with url: "/google_signup" do |f|%>
    <%= f.label :type, "Sign in with Google as an:" %>
    <%= select_tag(:user_type, options_for_select([['Actor', 'Actor'], ['Director', 'Director'], ['Casting Director', 'CastingDirector']]))%>
    <%= f.submit "Sign in with Google"%>
<% end %>

<div><p>Or: </p></div>

<%= form_with(url: "/sessions", method: "post") do %>
    
    <div class="form-group">
        <%=label_tag(:user_type, "Sign in as:")%>
        <%= select_tag(:user_type, options_for_select([['Actor', 'Actor'], ['Director', 'Director'], ['Casting Director', 'CastingDirector']]))%>
    </div>
    
    <div class="form-group">
        <%=label_tag(:email, "Email Address:")%>
        <%=text_field_tag(:email)%>
    </div>

    <div class="form-group">
        <%=label_tag(:password, "Password:")%>
        <%=password_field_tag(:password)%>
    </div>

    <div class="form-group">
        <%=submit_tag("Sign In")%>
    </div>
    
<% end %>