    <% if @actor.errors.any?%>
        <div id="errors">
            <ul>
            <% @actor.errors.full_messages.each do |message|%>
                <li><%= message %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
<%= form_with model: @actor do |f|%>
    <div class="form-group">
        <%= f.label :name, "Name:" %>
        <%= f.text_field :name %>
    </div>

    <div class="form-group">
        <%= f.label :email, "Email Address:" %>
        <%= f.text_field :email %>
    </div>

    <div class="form-group">
        <%= f.label :phone_number, "Phone Number:" %>
        <%= f.text_field :phone_number %>
    </div>

    <div class="form-group">
        <%= f.label :password, "Password:" %>
        <%= f.text_field :password %>
    </div>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>