
<% if flash[:errors]%>
    <div id="errors">
        <ul>
        <% flash[:errors].each do |message|%>
            <li><%= message %></li>
        <% end %>
        </ul>
    </div>
<% end %>
<%= form_with model: @actor do |f|%>
    
    <div class="form-group">
        <%= f.label :name, "Name:" %>
        <%= f.text_field :name %>
    </div>

    <div class="form-group">
        <%= f.label :email, "Email Address:" %>
        <%= f.text_field :email %>
    </div>

    <div class="form-group">
        <%= f.label :phone_number, "Phone Number:" %>
        <%= f.text_field :phone_number %>
    </div>
    <% if !@actor.id %>

        <div class="form-group">
            <%= f.label :password, "Password:" %>
            <%= f.text_field :password %>
        </div>

        <div class="form-group">
            <%= f.label :password_confirmation, "Confirm Password:" %>
            <%= f.password_field :password_confirmation %>
        </div>
    <% end %>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>