<div class="show">
    <p><strong>Name:</strong> <%= @actor.name %></p>
    <p><strong>Email:</strong> <%= @actor.email %></p>
    <p><strong>Phone Number:</strong>  <%= @actor.phone_number %></p>
</div>
<div class= "link"></div>
    <% if current_user == @actor %>
        <div class="owner_links">
        <%= link_to  "Edit Info", edit_actor_path %>
        <%= link_to  "View Auditions", actor_auditions_path(@actor) %>
        </div>
    <% end %>

    <%= link_to  "All Actors", actors_path %>
    <%= link_to  "Log Out", session_path, method: :delete %>
    
</div>

