<div class="d-flex justify-content-center">
    
        <%=form_with model: @audition, class: "w-50" do |f|%>
            <div class="form-group">
                <%= f.label :actor, "Actor: " %>
                <%= actor_id_field(@audition)%>
            </div>

            <div class="form-group">
                <%= project_id_field(@audition)%>
            </div>
            
            <div class="form-group">
                <%= f.label :location, "Location:" %>
                <%= f.text_field :location, class:"form-control" %>
            </div>

            <div class="form-group">
                <%= f.label :time, "Time:" %>
                <%= f.datetime_local_field :time, class:"form-control w-75" %>
            </div>

            <div class="form_group">
                <%= f.submit %>
                <% if @audition.id %>
                <%= link_to  "Delete", audition_path, method: 'delete' %>
                <% end %>
            </div>
        <% end %>
    
</div>