<% if flash[:errors]%>
    <div id="errors">
        <ul>
        <% flash[:errors].each do |message|%>
            <li><%= message %></li>
        <% end %>
        </ul>
    </div>
<% end %>

<%=form_with model: @audition do |f|%>
    <% if @audition.actor%>
        <h3>Actor: <%=@audition.actor.name %></h3>
    <% end %>
    <%= actor_id_field(@audition)%>
    <%= project_id_field(@audition)%>
    
    <div class="form-group">
        <%= f.label :location, "Location:" %>
        <%= f.text_field :location %>
    </div>

    <div class="form-group">
        <%= f.label :time, "Time:" %>
        <%= f.text_field :time %>
    </div>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
