<p><strong>Type:</strong> <%= @audition.project.medium %></p>

<% if @audition.location %>
    <p><strong>Location:</strong>  <%= @audition.location %></p>
<% end %>
<p><strong>Time:</strong>  <%= @audition.time.strftime("%l:%M%P %A, %B %e") %></p>

<div class="text-center">
    <h2> <%=  @audition.project.title %> </h2>
</div>
<table class="table d-flex justify-content-center">
    <tbody>

    <% if current_user_model != Actor %>
        <tr>
            <th scope="row">Actor:</th>
            <td> <%= link_to @audition.actor.name, actor_path(@audition.actor), class:"text-decoration-none" %></td>
        </tr>
    <% end %>

    <% if @audition.location %>
        <tr>
            <th scope="row">Location:</th>
            <td> <%= @audition.location %></td>
        </tr>
    <% end %>

        <tr>
            <th scope="row">Time:</th>
            <td> <%= @audition.time.strftime("%l:%M%P %A, %B %e") %></td>
        </tr>

    </tbody>
</table>