<div class="container text-center">
    <h2>Tracked Auditions</h2>
</div>



<div class="d-flex justify-content-center">
<% if current_user_model == Actor %>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <% @auditions.each do |audition|%>
                <div audition_id=<%=audition.id%> class="audition-card col-3 border rounded m-1">
                    <h3><%= link_to  audition.project.title, audition_path(audition), class:"text-decoration-none" %></h3>
                    <%= render  "show", :@audition => audition %>   
                </div>
            <% end %>
        </div>
    </div>
<% else %>
    <% @projects.each do |project|%>
        <div class="project-auditions col-3 border rounded m-1">
            <% if !project.auditions.empty? %>  
                <h4 class="text-center"><%=project.title%></h4>
                <ul>
                <%project.auditions.each do |audition|%>
                    <li><%= link_to  audition.actor.name, audition_path(audition), class:"text-decoration-none" %></li>
                <% end %>
                </ul>
            <% end %>
        </div>
    <% end %>
<% end %>
</div>
<div class="text-center">
    <%= link_to  "Add Audition", "/#{current_user_model.to_s.downcase}s/#{current_user.id}/auditions/new", class:"text-decoration-none" %>

</div>

