<div class="w-50 mx-auto border rounded">
    <div class="container text-center">
        
        <%= render  "auditions/show"%>
    
        <div class= "text-center">
            <%= link_to  "Edit Audition", edit_audition_path(@audition), class:"btn btn-outline-primary btn-block w-30" %>
            <%= link_to  "Delete Audition", audition_path, method: 'delete', class:"btn btn-outline-primary btn-block w-30" %>
        </div>
    
    </div>
    
    <% if @notes %>
        <div class="d-flex justify-content-center"><h4>Notes:</h4></div>
        <div class="d-flex justify-content-center">
            <ul>
            <% @notes.each do |n| %>  
                <li><%= n.content%> <br>
                <%= link_to  "Edit", edit_audition_note_path(@audition, n), class:"text-decoration-none" %> <%= link_to  "Delete", audition_note_path(@audition, n), method: "delete", class:"text-decoration-none" %></li>
            <% end %>
            </ul>  
        </div>
    <% end %>

    <%= render  "auditions/note_form" %>

</div>
      

