<div class="show">
    <p><strong>Actor Name:</strong> <%= @audition.actor.name %></p>
    <p><strong>Project:</strong> <%= @audition.project.title %></p>
    <p><strong>Location:</strong>  <%= @audition.location %></p>
    <p><strong>Time:</strong>  <%= @audition.time %></p>
</div>
<div class= "link">
    <%= link_to  "Edit", edit_audition_path(@audition) %>
    <%= link_to  "Delete", audition_path, method: 'delete' %>
</div>