<div class="show">
    <p><strong>Actor Name:</strong> <%= @audition.actor.name %></p>
    <p><strong>Project:</strong> <%= @audition.project.title %></p>
    <p><strong>Location:</strong>  <%= @audition.location %></p>
    <p><strong>Time:</strong>  <%= @audition.time %></p>
</div>
<div class= "link"></div>
    <% if current_user == @audition.actor %>
        <%= link_to  "Edit", edit_audition_path(@audition) %>
    <% end %>
    <%= link_to  "Log Out", session_path, method: :delete %>
</div>