<div class="text-center">
    <h2><strong>Name:</strong> <%= @director.name %></h2>
    <p><strong>Email:</strong> <%= @director.email %></p>
    <% unless current_user_model == Actor %>
        <p><strong>Phone Number:</strong>  <%= @director.phone_number %></p>
    <% end %>
    <p><strong>Current Projects:</strong></p>
    <% if @projects %>
        <div class="d-flex justify-content-center">
        <ul>
        <% @projects.each do |project|%>
            <li><%=link_to project.title, project_path(project) %></li>  
        <% end %>
        </ul>
        </div>
    <% else %>
        <p>No projects to show</p>
    <% end %>
</div>

<% if owner? %>
    <div class="text-center">
    <%= link_to  "Edit Info", edit_director_path(@director) %>
    </div>
<% end %>
