<% if @projects.length != 0 %>
    <h2 class="text-center"><%= @director || @casting ? "Your Projects" : "Projects Currently Casting"%></h2>
<% end %>
  
<div class="row d-flex justify-content-center">
    <%@projects.each do |project|%>
        <div class="col-4">
            <div class="card">
                <div class="card-header <%=project.medium%> text-center">
                    <h4><%= project.title%> (<%=project.medium %>)</h4>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush text-center">
                        <li class=list-group-item><strong>Director: </strong><%=project.director.name%></li>
        
                        <li class=list-group-item><strong>Casting Director: </strong><%=project.casting.name%></li>
                        
                        <li class="list-group-item"><%= project.seeking ? "* Currently Casting" : "Not Currently Casting" %></li>
                    </ul>
                    <% if project_creative?(project) %>
                        <p><%= link_to  "Edit", edit_project_path(project), class:"btn btn-outline-primary"%> <%= link_to  "Delete", project_path(project), method: "delete", class:"btn btn-outline-primary" %></p>
                    <% end %>
                </div>
                <% if project.discarded? %>
                    <div class="card-footer text-muted">
                        This project is no longer running or in development
                    </div>  
                <% end %>
            </div>
        </div>
    <% end %>
</div>

<% if (@director || @casting) %>
    <h4 class= "container text-center">Add a new Project:</h4>
    <%= render  "form" %>
<% end %>

<% if !(@director || @casting) %>
    <div class="d-flex justify-content-center">
        <%=form_with url: "/search", method: :get, local: true do |f|%>
            <%= f.label :director_name, "Search for Projects by Director:" %>
            <%= f.text_field :search_name %>
            <%= f.submit "Search" %>
        <% end %>
    </div>
<% end %>

 