<h1><%=@project.name %></h1>
<ul>
    <li>Director: <%=@project.director.name%></li>
    <li>Casting Director: <%=@project.casting_director.name%></li>
    <% if @project.seeking %>
                <li>*Currently Casting</li>
    <% end %>
    <% if project_creative? %>
      <%= link_to  "Edit", edit_project_path(@project)%> <%= link_to  "Delete", project_path(@project), method: "delete" %></p>
    <% end %>
    
</ul>
