<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Audition Tracker" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 class="text-center bg-secondary">Audition Tracker</h1>
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="/">Audition Tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div  class="collapse navbar-collapse">
          <div class="navbar-nav mr-auto">
            <% if !current_user %>
              <%= link_to  "Sign In", new_session_path, class:"nav-item nav-link" %>
              <%= link_to  "Sign Up", '/signup', class:"nav-item nav-link" %>
            <% end %>  
            <% if current_user %>
              <%= link_to  "Home", "/#{current_user_model.to_s.downcase}s/#{current_user.id}/profile", class:"nav-item nav-link" %>
              <%= link_to "Actors", actors_path, class:"nav-item nav-link" %>
              <%= link_to  "Directors", directors_path, class:"nav-item nav-link" %>
              <%= link_to  "Casting Directors", castings_path, class:"nav-item nav-link" %>
              <%= link_to "Projects", projects_path, class:"nav-item nav-link" %>
              <%= my_auditions_link%>
              <%= link_to  "Log Out", sign_out_path, method: 'delete', class:"nav-item nav-link" %>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
    <% if !!flash[:error]%>
      <div class="text-center text-white bg-danger">
          <h5><%= flash[:error] %></h5>
      </div>
    <% end %>
    <% if !!flash[:errors]%>
      <div class="d-flex justify-content-center text-white bg-danger">
        <ul>
          <% flash[:errors].each do |m|%>
            <h3><li><%= m %></li></h3>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
