<!DOCTYPE html>
<html>
  <head>
    <title>AuditionProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if flash[:error]%>
    <div id="errors">
        <%= flash[:error] %>
    </div>
  <% end %>
  <% if flash[:errors]%>
    <div id="errors">
        <ul>
        <% flash[:errors].each do |message|%>
            <li><%= message %></li>
        <% end %>
        </ul>
    </div>
<% end %>
    <%= yield %>
  </body>
</html>
