<!DOCTYPE html>
<html>
  <head>
    <title>AuditionProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if !current_user %>
        <%= link_to  "Sign In", new_session_path %>
        <%= link_to  "Sign Up", '/signup' %>
      <% end %>  
      <% if current_user %>
        
        <%= link_to "Actors", actors_path %>
        <%= link_to  "Directors", directors_path %>
        <%= link_to  "Casting Directors", castings_path %>
        <%= link_to "Projects", projects_path %>
        <%= my_auditions_link %>
        <%= link_to  "Log Out", sign_out_path, method: 'delete' %>
      <% end %>
    </nav>
  <% if flash[:error]%>
    <div id="errors">
        <%= flash[:error] %>
    </div>
  <% end %>
  <% if flash[:errors]%>
    <div id="errors">
        <ul>
        <% flash[:errors].each do |message|%>
            <li><%= message %></li>
        <% end %>
        </ul>
    </div>
<% end %>
    <%= yield %>
  </body>
</html>
