<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Audition Tracker" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "custom" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="/"><img id="logo" src="/AudTracker.png" alt="Logo"></a>
        <div>
          <div class="navbar-nav mr-auto">
            <% if !current_user %>
              <%= link_to  "Sign In", new_session_path, class:"nav-item nav-link" %>
              <%= link_to  "Sign Up", '/signup', class:"nav-item nav-link" %>
            <% end %>  
            <% if current_user %>
              <%= home_link %>
              <%= my_auditions_link%>
              <%= link_to "Actors", actors_path, class:"nav-item nav-link" %>
              <%= link_to  "Directors", directors_path, class:"nav-item nav-link" %>
              <%= link_to  "Casting Directors", castings_path, class:"nav-item nav-link" %>
              <%= link_to "Projects", projects_path, class:"nav-item nav-link" %>
              <%= link_to  "Log Out", sign_out_path, method: 'delete', class:"nav-item nav-link" %>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
      <div id="error">
        <% if !!flash[:error]%>
          <div class="text-center text-white bg-danger">
              <h5><%= flash[:error] %></h5>
          </div>
        <% end %>
        <% if !!flash[:errors]%>
          <div class="d-flex justify-content-center text-white bg-danger">
            <ul>
              <% flash[:errors].each do |m|%>
                <h3><li><%= m %></li></h3>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    <%= yield %>
    <%= javascript_pack_tag 'custom/audition_index' %>
  </body>
</html>
