<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Audition Tracker" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <h1 class="text-center">Audition Tracker</h1>
        <nav class="container text-center">
          <% if !current_user %>
            <%= link_to  "Sign In", new_session_path %>
            <%= link_to  "Sign Up", '/signup' %>
          <% end %>  
          <% if current_user %>
            <%= link_to "Actors", actors_path %>
            <%= link_to  "Directors", directors_path %>
            <%= link_to  "Casting Directors", castings_path %>
            <%= link_to "Projects", projects_path %>
            <%= my_auditions_link %>
            <%= link_to  "Log Out", sign_out_path, method: 'delete' %>
          <% end %>
        </nav>
      </div>  
    </header>
  <% if flash[:error]%>
    <div class="text-center text-danger">
        <h5><%= flash[:error] %></h5>
    </div>
  <% end %>
  <% if flash[:errors]%>
    <div class="text-center text-danger">
        <ul>
        <% flash[:errors].each do |message|%>
            <li><%= message %></li>
        <% end %>
        </ul>
    </div>
<% end %>
    <%= yield %>
  </body>
</html>
